ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: brown;
}

.navbar {
  justify-content: space-between;
}

.title {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.lectureModal {
  display: flex;
  margin: 0.2rem;
}

.lectureInput {
  display: flex;
}

.title {
  display: flex;
  align-items: flex-end;
}

label {
  display: flex;
}

.footer {
  display: flex;
}

.openModalBtn {
  margin: 2rem;
  padding: 0.5rem;
  width: 80%;
  background-color: rgb(254, 253, 251);
  border: 1px solid black;
  border-radius: 0.2rem;
}

.openModalBtn:hover {
  color: brown;
  background-color: rgb(240, 230, 230);
}

.submitbtn {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(175, 168, 168);
  background-color: rgb(240, 230, 230);
}

.submitbtn:hover {
  background-color: rgb(220, 204, 204);
}
