ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: brown;
}

.navbar {
  justify-content: space-between;
}

.title {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.lectureModal {
  display: flex;
  margin: 0.2rem;
}

.title {
  display: flex;
  align-items: flex-end;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.openModalBtn {
  background-color: rgb(240, 230, 230);
  margin: auto 2 auto 2 !important;
  padding: 0.5rem;
  width: 80%;
  border: 1px solid black;
  border-radius: 0.2rem;
}

.openModalBtn:hover {
  background-color: rgb(220, 204, 204);
}

.submitbtn {
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(175, 168, 168);
  background-color: rgb(240, 230, 230);
}

.submitbtn:hover {
  background-color: rgb(220, 204, 204);
}

.lectureform {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 1.5rem;
}

.table {
  margin-top: 1rem;
}

.lecturebtn {
  background-color: rgb(240, 230, 230);
  border: 1px solid rgb(161, 153, 153);
  border-radius: 0.1rem;
}

.lecturebtn:hover {
  background-color: rgb(220, 204, 204);
}
